.audio-wrapper {
	max-width: 670px;
	height: 50px;
	color: #3e3e3e;
	display: inline-block;
	width: calc(100% - 180px);
	position: absolute;
	right: 20px;
	bottom: 0px;
}

.audio-left {
	float: left;
	text-align: center;
	width: 50px;
	height: 100%;
	position: relative;
	margin-right: 10px;
}
.audio-left img {
	width: 80%;
	max-width: 30px;
	position: absolute;
	margin: 0;
	display: initial;   /* 解除与app的样式冲突 */
	cursor: pointer;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.audio-right {
	float: left;
	width: calc(100% - 60px);
	height: 100%;
	padding-top: 15px;
}
.progress-bar-bg {
    background-color: #d9d9d9;
    position: relative;
    height: 2px;
    cursor: pointer;
}

.progress-bar {
    background-color: #F74769;
    width: 0;
    height: 2px;
}

.progress-bar-bg span {
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #F74769;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -5px;
    margin-left: -5px;
    cursor: pointer;
}

.audio-time {
	margin-top: 8px;
	line-height: 15px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.audio-length-total {
	float: right;
	font-size: 12px;
	color: #F74769;
	font-weight: bold;
}
.audio-length-current {
	float: left;
	font-size: 12px;
	color: #F74769;
	font-weight: bold;
	margin-left: -5px;
}