.video-cover{
	padding-top: 56.2%;
	position: relative;
}

.video-cover iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}


.v-wrapper {
	display: none;
	width: 100%;
	height: 300px;
	position: relative;
	overflow-x: hidden;
	background-color: #000;
}

.is-playing .floor1{
	top: -26%;
}

.floor1{
	position: absolute;
	top: 0;
	left: -100%;
	width: 300%;
	height: 100%;
	pointer-events: none;
	opacity: .5;
}

.floor2 {
	background: #000;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

	iframe{
	width: 100%;
	height: 100%;
}
/*



============================
.layout-video-fluid {
	padding: 56.2% 0 0 0;
	position: relative;
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
} 
*/

/*============================================*/

.for-layout-b {
	display: none!important;
}

.send_message .for-layout-b {
	top: 0;
}

/*====================================*/

.copy-source {
	position: relative;
	top: auto;
}

.copy-btn {
	position: relative;
}

.copied {
	line-height: 1;
	font-size: 15px;
	position: absolute;
	background-color: #fff;
	color: #333;
	padding: 15px;
	border-radius: 12px;
	top: 8px;
	left: 200px;
	animation: ani-copied 1.2s linear 1 forwards;
	opacity: 0;
	display: none;
}

.copied:after {
	position: absolute;
	width: 0;
	height: 0;
	content: '';
	display: block;
	border-width: 6px 15px 6px 0;
	border-style: solid;
	border-color: transparent #fff transparent transparent;
	left: -10px;
	top: 16px;
	transform: translateX(0);
}

@keyframes ani-copied {
	50% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateX(10px)
	}
}

/*====================================*/

html, body {
	font-family: "微軟正黑體", Arial;
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow-Y: hidden;
	height: 100%;
}

.no-scroll {
	overflow: hidden;
}

input:focus, button:focus {
	outline: none;
}

::-webkit-input-placeholder {
	/* Edge */
	font-size: 1.85rem;
	font-weight: 600 !important;
	color: #787878;
}

:-ms-input-placeholder {
	/* Internet Explorer */
	font-size: 1.85rem;
	font-weight: 600 !important;
	color: #787878;
}

::placeholder {
	font-size: 1.85rem;
	font-weight: 600 !important;
	color: #787878;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
	background-color: #d8d8d8;
	border-radius: 10px;
}

::-webkit-scrollbar-button {
	display: none;
}

::-webkit-scrollbar-corner {
	background-color: black;
}

.main {
	overflow: hidden;
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: 100%;
	position: relative;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fa7e96+0,584d77+100&0.55+0,0.55+100 */
	background: -moz-linear-gradient(-45deg, rgba(250, 126, 150, 0.55) 0%, rgba(88, 77, 119, 0.55) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(250, 126, 150, 0.55) 0%, rgba(88, 77, 119, 0.55) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(250, 126, 150, 0.55) 0%, rgba(88, 77, 119, 0.55) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cfa7e96', endColorstr='#8c584d77', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
}

.main .article_cover .subT, .main .article_cover .sub {
	overflow: hidden;
	transition: height .5s;
}

.main.is-playing .article_cover .subT, .main.is-playing .article_cover .sub {
	transition: height .5s;
	height: 0;
}

/**********************/

.main.is-playing .article_cover {
	height: 115px;
}

.main.is-playing section.Read_on {
	height: calc( 100% - 115px);
}

.main.is-playing .title {
	margin-top: -15px;
}

/*********************
*
*  header
*
*********************/

header {
	position: absolute;
	z-index: 9999;
	left: 0px;
	top: 0px;
	text-align: right;
	display: block;
	width: 100%;
}

header .logo {
	background-image: url(../images/black_logo.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 26%;
	display: block;
	padding-top: 9%;
	margin-bottom: 20px;
	position: absolute;
	left: 20px;
	top: 20px;
}

header nav {
	display: block;
	position: relative;
	line-height: 30px;
	padding-right: 20px;
	padding-top: 20px;
}

header nav input[type="button"], header nav button {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: transparent;
	vertical-align: middle;
	height: 30px;
	padding: 0px;
	width: 30px;
}

header nav .message_btn {
	display: none;
}

header nav .message_btn.show {
	display: inline-block !important;
	background-image: url(../images/mb_a/message_btn.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin-right: 5px;
}

header nav .share_btn {
	margin-right: 5px;
	display: inline-block;
	background-image: url(../images/mb_a/share_btn.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

header nav .order_btn {
	position: relative;
	top: -2px;
	color: #FFF;
	background-color: #000;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 30px;
	line-height: 26px;
	height: 26px;
	display: inline-block;
	font-size: 1.6rem;
	font-weight: bold;
}

/*********************
*
*  文章
*
*********************/

.article_cover {
	width: 100%;
	height: 100%;
}

.article_cover.Read_on {
	width: 100%;
	height: 34%;
	display: inline-block;
	position: relative;
	overflow: hidden;
}

.article_cover .title {
	font-size: 5vh;
	font-family: "Times New Roman", Times, serif;
	color: #f74769;
	text-align: right;
	font-weight: 600;
	line-height: 1.1;
	margin-bottom: 10px;
	text-shadow: 0 0 5px rgba(0, 0, 0, .2);
	display: block;
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	position: absolute;
	left: 48%;
	bottom: 8%;
	transform: translateX(-50%);
	z-index: 50;
}

.article_cover.Read_on .title {
	font-size: 3vh;
	font-family: "Times New Roman", Times, serif;
	width: 85%;
	margin-right: auto;
	margin-left: auto;
	color: #FFFFFF;
	text-align: left;
	font-weight: 600;
	line-height: 1.3;
	margin-bottom: 10px;
	text-shadow: 0 0 3px rgba(0, 0, 0, .2);
	display: block;
	position: absolute;
	top: 70px;
	left: 5%;
	transform: translateX(0%);
}

.article_cover .title .sub {
	font-size: 3.4vh;
	color: rgb(247, 71, 105);
	text-align: right;
	line-height: 1.3;
	font-family: 微軟正黑體, "Times New Roman";
	font-weight: 600;
	text-shadow: 0 0 5px rgba(0, 0, 0, .2);
	margin-bottom: 30px;
	margin-top: 10px;
}

.article_cover.Read_on .title .sub {
	font-size: 3vh;
	color: #FFFFFF;
	text-align: left;
	font-family: 微軟正黑體, "Times New Roman";
	font-weight: 600;
	text-shadow: 0 0 3px rgba(0, 0, 0, .2);
	margin-bottom: 0px;
	margin-top: 0px;
}

.article_cover .Read_More_btn {
	font-family: "Times New Roman", "微軟正黑體";
	font-size: 2rem;
	line-height: 25px;
	color: #FFF;
	background-image: url(../images/mb_a/readmoreplay_btn.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: right center;
	padding-right: 65px;
	height: 50px;
	display: inline-block;
	font-weight: bold;
}

.article_cover.Read_on .Read_More_btn {
	display: none;
}

.article_cover .article_pic {
	width: 96%;
	position: absolute;
	top: 15%;
	right: 0%;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

.article_cover .article_pic img {
	width: 100%;
	position: relative;
	z-index: 10;
}

.article_cover.Read_on .article_pic {
	width: 100%;
	position: relative;
	top: -10%;
	right: 0%;
	z-index: 10;
}

.article_cover.Read_on .article_pic .pic_bg {
	width: 100%;
	position: absolute;
	top: 0%;
	right: 0%;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fa7e96+0,9f6384+100&0.55+0,0.55+100 */
	background: -moz-linear-gradient(-30deg, rgba(250, 126, 150, 0.55) 0%, rgba(159, 99, 132, 0.55) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(-30deg, rgba(250, 126, 150, 0.55) 0%, rgba(159, 99, 132, 0.55) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(150deg, rgba(250, 126, 150, 0.55) 0%, rgba(159, 99, 132, 0.55) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cfa7e96', endColorstr='#8c9f6384', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
	display: block;
	z-index: 50;
	height: 100%;
}

.article_cover .control {
	display: none;
}

.article_cover.Read_on .control {
	width: 100%;
	position: absolute;
	right: 0%;
	z-index: 60;
	bottom: 0px;
	display: block;
	padding-right: 20px;
	padding-left: 20px;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f9f9f9+0,e8c4d0+100&0+0,1+100 */
	background: -moz-linear-gradient(top, rgba(249, 249, 249, 0) 0%, rgba(232, 196, 208, 1) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(249, 249, 249, 0) 0%, rgba(232, 196, 208, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(249, 249, 249, 0) 0%, rgba(232, 196, 208, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f9f9f9', endColorstr='#e8c4d0', GradientType=0);
	/* IE6-9 */
	line-height: 50px;
	overflow: hidden;
}

.article_cover.Read_on .control input[type="radio"] {
	display: none;
}

.article_cover.Read_on .control input[type="radio"]+label {
	display: inline-block;
	cursor: pointer;
	line-height: 30px;
	color: #F74769;
	font-weight: bold;
	font-size: 1.9rem;
	margin-right: 5px;
	margin-left: 5px;
	opacity: .7;
}

.article_cover.Read_on .control input[type="radio"]:checked+label {
	color: #F74769;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F74769;
	opacity: 1;
}

section {
	font-size: 2rem;
	display: none;
	-webkit-transition: all .6s;
	-o-transition: all .6s;
	-moz-transition: all .6s;
	transition: all .6s;
}

section.Read_on {
	position: relative;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	height: 66%;
	display: block;
	position: relative;
	background-color: rgba(255, 255, 255, .55);
	z-index: 100;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0 20px 20px;
	padding-top: 20px;
	transition: none;
}

section img {
	width: 100%;
}

section .english {
	width: 100%;
	/* border-bottom:solid 1px rgba(247, 71, 105, 0.5); */
	display: block;
	margin-right: auto;
	margin-left: auto;
	word-wrap: break-word;
}

section .english span.Drlinehight {
	color: #FFF;
	background-color: #F74769;
	position: relative;
}

section .english span .translation_Font {
	display: none;
}

section .english span.Drlinehight .translation_Font {
	position: absolute;
	background-color: rgba(255, 255, 255, .95);
	color: #003366;
	padding: 10px;
	border-radius: 10px;
	display: block;
	white-space: nowrap;
}

section .english span.Drlinehight .translation_Font.lbox {
	left: 0px;
}

section .english span.Drlinehight .translation_Font.rbox {
	right: 0px;
}

section .english span.Drlinehight .translation_Font.tbox {
	top: 100%;
}

section .english span.Drlinehight .translation_Font.bbox {
	bottom: 100%;
}

section .Chinesemask {
	width: 90%;
	height: 40%;
	display: block;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ef8fa4;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
}

section .Chinese {
	margin-top: 5px;
	margin-bottom: 50px;
	width: 100%;
	display: block;
}

section .Chinese:last-child {
	margin-bottom: 0;
}

/*********************
*
*  註冊/分享
*
*********************/

.lightbox {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .75);
	left: 0px;
	top: 0px;
	z-index: 10000;
}

#sharebox {
	display: none;
	opacity: 0;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

#sharebox.showbox {
	display: block;
	opacity: 1;
}

#sharebox ul {
	font-size: 2rem;
	width: 90%;
	max-width: 500px;
	display: inline-block;
	border-radius: 15px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fa7e96+0,645179+100&0.55+0,0.55+100 */
	background: -moz-linear-gradient(-45deg, rgba(250, 126, 150, 0.55) 0%, rgba(100, 81, 121, 0.55) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(250, 126, 150, 0.55) 0%, rgba(100, 81, 121, 0.55) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(250, 126, 150, 0.55) 0%, rgba(100, 81, 121, 0.55) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cfa7e96', endColorstr='#8c645179', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
	padding-top: 20px;
	padding-bottom: 10px;
	box-shadow: 0px 0px 9px rgba(0, 0, 0, .3);
}

#sharebox ul li {
	line-height: 60px;
	color: #FFF;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(255, 255, 255, .3);
}

#sharebox ul li:nth-last-child(1) {
	border-bottom-style: none;
}

#sharebox ul .close_share {
	background-image: url(../images/close_btn.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 15px;
	width: 15px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

#sharebox ul li a {
	display: block;
	color: #FFF;
	text-decoration: none;
}

#sharebox ul li a span {
	line-height: 36px;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: 0px center;
	padding-left: 55px;
	text-align: left;
	min-width: 210px;
}

#sharebox ul li .line {
	background-image: url(../images/line_icn.png);
}

#sharebox ul li .fb {
	background-image: url(../images/fb_icn.png);
}

#sharebox ul li .ig {
	background-image: url(../images/IG_icn.png);
}

#sharebox ul li .link {
	background-image: url(../images/link_icn_btn.png);
}

#joinbox {
	display: none;
}

#joinbox.showbox {
	display: block;
}

#joinbox .join {
	font-size: 2rem;
	width: 90%;
	max-width: 500px;
	max-height: 90%;
	display: inline-block;
	border-radius: 15px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #FFFFFF;
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 20px;
	padding-left: 30px;
	box-shadow: 0px 0px 9px rgba(0, 0, 0, .3);
	overflow-Y: auto;
}

#joinbox .join span {
	font-size: 2rem;
	text-align: center;
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

#joinbox .join .close_join {
	background-image: url(../images/close_btn_b.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 15px;
	width: 15px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

#joinbox .join .inputbox {
	font-size: 2rem;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #cccccc;
	padding-right: 10px;
	padding-left: 25px;
	position: relative;
	margin-bottom: 7px;
}

#joinbox .join .inputbox-s {
	font-size: 2rem;
	width: calc(100% - 98px);
	border-radius: 5px;
	border: 1px solid #cccccc;
	padding-right: 10px;
	padding-left: 25px;
	position: relative;
	margin-bottom: 10px;
	display: inline-block;
}

#joinbox .join .required::before {
	font-size: 3rem;
	font-weight: bold;
	content: "*";
	color: #f64767;
	position: absolute;
	left: 5px;
	top: 5px;
}

#joinbox .join .inputbox input[type="text"], #joinbox .join .inputbox-s input[type="text"] {
	width: 100%;
	font-size: 1.85rem;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	line-height: 30px;
	padding-top: 3px;
	padding-bottom: 3px;
}

#joinbox .join input[type="radio"] {
	display: none;
}

#joinbox .join input[type="radio"]+label {
	display: inline-block;
	cursor: pointer;
	color: #737373;
	font-weight: bold;
	font-size: 1.9rem;
	margin-left: 3px;
	line-height: 40px;
	border: 1px solid #cccccc;
	height: 44px;
	width: 40px;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 0px;
}

#joinbox .join input[type="radio"]:checked+label {
	color: #FFFFFF;
	background-color: #787878;
}

#joinbox .join .join_btn {
	font-size: 1.8rem;
	width: 100%;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	line-height: 40px;
	color: #FFF;
	background-color: #f64767;
	border-radius: 30px;
	font-weight: bold;
	box-shadow: 0px 5px 9px rgba(0, 0, 0, .2);
	margin-bottom: 10px;
	letter-spacing: 1px;
}

#joinbox .join .verification {
	font-size: 1.6rem;
	font-weight: bold;
	color: #f64767;
	position: relative;
	padding-left: 20px;
	line-height: 40px;
	margin-bottom: 10px;
}

#joinbox .join .verification a {
	color: #000;
	text-decoration: none;
	float: right;
}

#joinbox .join .fb_btn {
	font-size: 1.8rem;
	width: 100%;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	line-height: 40px;
	color: #FFF;
	background-color: #2e4fa5;
	border-radius: 30px;
	font-weight: bold;
	box-shadow: 0px 5px 9px rgba(0, 0, 0, .2);
	margin-bottom: 10px;
	letter-spacing: 1px;
}

#joinbox .join i {
	font-size: 1.4rem;
	font-style: normal;
	line-height: 1.5;
	font-weight: bold;
	letter-spacing: 0em;
	display: block;
}

#joinbox .join i a {
	color: #f64767;
	text-decoration: underline;
}

/*********************
*
*  留言
*
*********************/

.messagebox {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 100%;
	z-index: 10000;
	display: none;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fa7e96+0,3f4672+100&0.97+0,0.97+100 */
	background: -moz-linear-gradient(-45deg, rgba(250, 126, 150, 0.97) 0%, rgba(63, 70, 114, 0.97) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(250, 126, 150, 0.97) 0%, rgba(63, 70, 114, 0.97) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(250, 126, 150, 0.97) 0%, rgba(63, 70, 114, 0.97) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fa7e96', endColorstr='#f73f4672', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
}

.messagebox.show {
	display: block;
	left: 0%;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

.messagebox.hide {
	display: none;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

.messagebox .m_header {
	font-size: 2.2rem;
	text-align: center;
	line-height: 60px;
	font-weight: bold;
	color: #FFF;
	position: relative;
}

.messagebox .m_header .back_btn {
	font-size: 1.8rem;
	color: #FFF;
	background-image: url(../images/back_btn.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	display: inline-block;
	position: absolute;
	left: 20px;
	top: 50%;
	padding-left: 20px;
	line-height: 26px;
	transform: translateY(-50%);
}

.messagebox ul {
	width: 100%;
	height: calc(100% - 140px);
	overflow-y: auto;
	display: block;
	color: #FFF;
	;
	font-weight: bold;
}

.messagebox ul li {
	display: table;
	border-bottom: 1px solid #c15376;
	width: 100%;
	padding-top: 20px;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 0;
}

.messagebox ul li .user-photo {
	display: table-cell;
	height: 80px;
	width: 80px;
	overflow: hidden;
	border-radius: 50%;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
}

.messagebox ul li .user-photo img {
	width: 100%;
}

.messagebox ul li .user-box {
	font-size: 1.8rem;
	display: table-cell;
	width: calc(100% - 120px);
	float: left;
	padding-right: 20px;
	padding-left: 10px;
}

.messagebox ul li .user-box .user-info {
	display: block;
	margin-bottom: 5px;
}

.messagebox ul li .user-box .user-info .name {
	display: inline-block;
	margin-right: 20px;
}

.messagebox ul li .user-box .user-info .time {
	font-size: 1.4rem;
	display: inline-block;
	color: rgba(255, 255, 255, .6);
}

.messagebox ul li .user-box .user-message {
	display: block;
}

.messagebox .send_message {
	background-color: #f74769;
	line-height: 80px;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
}

.messagebox .send_message ::-webkit-input-placeholder {
	/* Edge */
	color: rgba(0, 0, 0, .2);
}

.messagebox .send_message :-ms-input-placeholder {
	/* Internet Explorer */
	color: rgba(0, 0, 0, .2);
}

.messagebox .send_message ::placeholder {
	color: rgba(0, 0, 0, .2);
}

.messagebox .send_message span {
	line-height: 40px;
	background-color: #FFF;
	display: block;
	border-radius: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

.messagebox .send_message span input[type="text"] {
	font-size: 1.6rem;
	width: calc(100% - 55px);
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	line-height: 34px;
	font-weight: bold;
	background-color: transparent;
}

.messagebox .send_message span input[type="button"] {
	font-size: 1.8rem;
	width: 50px;
	color: #f74769;
	background-color: transparent;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-weight: bold;
	padding: 0px;
}

/*********************
*
*  廣告
*
*********************/

.ad {
	display: none;
	/* position: fixed;
	bottom: 0px;
	z-index: 5000; */
}

.ad.sohw {
	display: inline-block;
}

.ad img {
	width: 100%;
}

/* 
=======================
== v by Eason 
=======================
*/

.read-more {
	background-image: url('../images/read_more.png');
	background-size: cover;
	width: 110px;
	height: 110px;
	position: absolute;
	right: 0;
	z-index: 101;
	bottom: -100%;
	transition: 1s;
}

.read-more.is-show {
	opacity: 1;
	animation: ani-in 3s linear infinite forwards;
	bottom: 0;
	transition: .3s;
}

@keyframes ani-in {
	0% {
		opacity: .2;
	}
	2% {
		opacity: 1;
	}
	4% {
		opacity: .2;
	}
	6% {
		opacity: 1;
	}
}

/*-------------------------------*/

.fb-scroller {
	overflow-y: auto;
	height: calc( 100% - 60px);
	-webkit-overflow-scrolling: touch;
	background-image: linear-gradient(to right, #f47d95, #ffa3c9);
	padding: 12px;
}

.fb_iframe_widget_fluid {
	width: 100%!important;
	display: block!important;
	max-width: auto!important;
}

.fb_iframe_widget_fluid iframe {
	width: 100%!important;
}